#mc_embed_signup {
	margin: 10px 2px 20px 2px;
	padding: 10px 15px;
	background-color: $white;
	box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba($black,0.1);
	@include rounded(3px);
	@media #{$medium} {
		margin-left: 10px;
		margin-right: 10px;
		padding: 20px 30px;
	};
	@media #{$large} {
		max-width: 800px;
		padding: 50px 80px;
		margin: 0 auto 30px auto;
	};

	h2 {
		text-align: center;
		font-size: 32px;
		margin-top: 0;
	}

	input {
		width: 100%;
		display: block;
		padding: 10px 5px;
		margin-top: 5px;

		.mce_inline_error {
			@include rounded(3px);
			border-color: #f45d5d;
		}
	}

	.mc-field-group {
		margin-bottom: 20px;
	}

	div.mce_inline_error {
		background-color: #f45d5d !important;
		width: 100%;
	}
}